body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container-cm {
	width: 90%;
	margin: 20px auto;
}

.menu-cm {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
}

.menu-cm div a {
	margin-right: 20px;
	text-decoration: none;
	color: #333;
}

.menu-cm div a:last-child {
	margin-right: 0;
}

.search-cm {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.search-cm input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.search-cm button {
	background-color: #fff;
	border: none;
	cursor: pointer;
	margin-left: -40px;
}

.search-cm img {
	width: 20px;
	height: 20px;
}

.list-cm {
	display: flex;

}

.list-cm input {
	margin-right: 10px;
}

.write-cm {
	display: flex;
	justify-content: flex-end;

}

.write-cm button {
	display: flex;
	align-items: center;
	background-color: #ffdd57;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.write-cm img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.add-size {
	display: flex;
	margin-bottom: 15px;

}

.add-size input[type=radio] {
	display: none;
}

.add-size input[type=radio]+label {
	padding: 10px 15px;
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 15px;
	border: 1px solid #333;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;

	margin-right: 5px;
}

.add-size input[type=radio]+label {
	background-color: bisque;
	color: #333;
}

.add-size input[type=radio]:checked+label {
	background-color: #333;
	color: bisque;
}

.post-cm {
	flex-direction: column;
	border-bottom: 1px solid gray;
	margin-bottom: 15px;

}

.cm-kind {
	display: flex;

}

.cm-menu {
	font-weight: bold;
	font-size: 20px;
}

.cm-cate {
	margin-left: 10px;
}

.cm-title {
	font-size: 15pt;
	font-weight: bold;
	margin: 10px 0;
}

.cm-title:hover {
	color: #ffdd57
}

.cm-content {
	display: flex;
	height: 56px;
}

.cm-img img {
	width: 80px;
	height: 80px;
}

.cm-text {
	/*			padding: 10px 0;*/
	width: 100%;
	height: auto;
	/* height 제한 제거 */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* 표시할 줄 수 */
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	/* 생략 부호 추가 */
	color: gray;

}

.cm-info {
	display: flex;
	margin: 10px 0;
}

/*		.info-name{*/
/*			margin-left: 10px;*/
/*		}*/
.info-date {
	margin-left: 10px;
}

.info-view {
	margin-left: 10px;
}

.info-like {
	margin-left: 10px;
}


.cm-a-tag a{
	text-decoration: none;
	color: gray;
}