.body {
	margin: 0;
	padding: 0;
}

.container-cm-post {
	width: 100%;
}

.cm-back span{
	color: #ffdd57;
	margin: 1em;
}
.post-title > span{
	font-size:50pt;
	margin: 1em;
}
.post-info {
	display: flex;
	margin: 1em;

}
.post-profile > img{
	width: 50px;
	height: 50px;
	margin-left: 10px;
}
.post-string{
	flex-direction: column;
	margin-left: 10px;
}
.post-items{
	display: flex;
	margin: 1em;
}
.post-view > img, .post-like > img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.post-content{
	margin: 1em;
	flex-direction: column;
}
.post-img > img{
	width: 50%;
	height: 50%;	
}
.post-text{
	font-size: 17pt;	
}
.post-comment{
	display: flex;
	margin: 1em;
    border-bottom: 1px solid #f0f0f0;
}
.reply{
	display: flex;
	width: 100%;
	height: 100%;
	margin: 1em;
/*	margin: 20px 0;	*/
    position: relative;
}
.reply-img {
	justify-content: center;
	align-items: center;
}
.reply-img img{
	width: 50px;
	height: 50px;
}

.reply-string{
	flex-direction: column;
	margin-left: 10px;
}
.reply-write{
	flex-direction: column;
	margin: 1em;
}
.reply-ta > textarea{
	width: 100%;
	height: 120px;
/*	resize: none; text-area 크기 조절 비활성화*/
}
.reply-btn {
	align-items: center;
	background-color: #ffdd57;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
        }
