/* 상단부 */
.title {
	font-size: 30px;
	padding-top: 20px;
}

.title-now {
	color: blue;
}

.process {
	display: flex;
	justify-content: flex-end;
}

.next-stage {
	padding-left: 6px;
	padding-right: 6px;
}

/* 검색 */
.mainBody {
	height: 100%;
	border-top: 2px solid #888;
	margin-top: 20px;
}

.search-order {
	width: 100%;
	display: block;
	justify-content: center;
}

.search-order-title {
	display: flex;
	justify-content: flex-start;
	font-size: 25px;
	padding: 8px 0 8px;
}

.under-search-order {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 20px;
}

.search-order-input {
	width: 30%;
	height: 25px;
	border-radius: 5px;
}

/* 주문 카테고리 */
.order-category {
	display: flex;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	color: #888;
	font-weight: bolder;
}

.order-category div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

.order-category div:not(.product-img, .product-name), .per-order div:not(.img-wrapper,
	.name-wrapper, .product_name2, .buttons) {
	width: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-img {
	width: 110px;
}

.product-name, .product-name2, .name-wrapper {
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 각 상품 */
.per-order {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #888;
}

.product_img2, .space-place1 {
	width: 110px;
	height: auto;
	display: block;
}

.product-name2 {
	width: 400px;
}

.buttons {
	height: 85px;
	display: grid;
	align-items: center;
}

.buttons button {
	width: 57px;
	height: 25px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	transition: background-color 0.3s, color 0.3s;
}

.buttons button:hover {
	background-color: white;
	color: black;
}

.more-info {
		background-color: #f4f4f4;
        opacity: 0; /* 초기 투명도 */
        max-height: 0; /* 초기 높이 */
        overflow: hidden; /* 넘치는 내용 숨기기 */
        transition: opacity 0.3s ease, max-height 0.3s ease; /* 부드러운 전환 */
    }

    .more-info.active {
        opacity: 1; /* 보이기 */
        max-height: 500px; /* 최대 높이 설정 (콘텐츠 크기에 맞게 조정 가능) */
    }
    
.more-info-category {
	font-weight: bolder;
	display: grid;
	justify-content: center;
	width: 115px;
}

.more-info-info {
	display: grid;
	justify-content: center;
	width: 995px;
}