@charset "UTF-8";


.heart-icon {
	font-size: 24px;
	color: gray;
}

.heart-icon.active {
	color: red;
}
.sw-post-wrapper{
	width: 300px;
	font-size: 15px;
	border: 3px solid #F1E1D2;
	border-radius: 20px;
	position: relative;
	margin: 30px;
	
}
.sw-post-header{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 700;
	border: 1px solid #F1E1D2;
}