@charset "UTF-8";
body{
font-size: 40px;
}

@font-face {
	font-family: 'SokchoBadaBatang';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'SokchoBadaBatang';
	font-size: 30pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.logo {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.logo-div {
	width: 20%;
	position: relative;
	left: 30px;
}

.main-wrapper {
	width: 100%;
	border: 3px solid blue;
	display: flex;
	justify-content: space-around;
	height: 120px;
	position: sticky;
	top: 0px;
	z-index: 2;
	background-color: ivory;
}

.login {
	width: 30%;
	height: 400px;
	position: sticky;
	top: 130px;
	border: 9px solid red;
	right: -30px;
}

.index-content {
	margin-left: 150px;
	border: 9px solid black;
	width: 50%;
	height: 2000px;
}

.map {
	margin: auto;
	margin-top: 50px;
	border: 9px solid black;
	width: 80%;
	height: 25%;
}