@charset "UTF-8";

@font-face {
	font-family: 'GowunDodum-Regular';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "GowunDodum-Regular";
	font-size: 30pt;
	margin: 0;
	padding: 0;
}

.login-container {
	background-color: #ffffff;
	margin: auto;
	padding: 20px;
	border-radius: 8px;
	width: 300px;
	text-align: center;
}

.login-input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #a5d6a7;
	border-radius: 4px;
}

.login-button {
	width: 100%;
	padding: 10px;
	background-color: #66bb6a;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.login-button:hover {
	background-color: #4caf50;
}

#openModalBtn {
	width: 100%;
	padding: 10px;
	background-color: #66bb6a;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#openModalBtn:hover {
	background-color: #4caf50;
}

.signup-link {
	display: block;
	margin-top: 10px;
	color: #66bb6a;
	text-decoration: none;
}

.signup-link:hover {
	text-decoration: underline;
}

.sw-result {
	font-size: 12px;
	color: red;
}