.login-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

.login-input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #FFB26F;
	border-radius: 4px;
}

.login-button {
	display: block;
	margin-top: 10px;
	color: #DE8F5F;
	text-decoration: none;
}

.login-button:hover {
	background-color: #FFB38E;
}

.signup-link {
	display: block;
	margin-top: 10px;
	color: #DE8F5F;
	text-decoration: none;
}

.signup-link:hover {
	text-decoration: underline;
}

.sw-result {
	font-size: 12px;
	color: red;
}